.grid-container{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(4,minmax(min-content,max-content));
    grid-auto-rows: 50px;
}
.grid-item{
    padding: 20px;
    border:1px solid black;
    margin: 2px;
}

.boton-confirmar{
    padding: 20px;
    margin: 30px;
    background-color: bisque;
}